



html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: rgb(2, 1, 17);
}
.top {
    color: white;
    font-family: monospace;
    padding: 0px;
    font-size: calc(2.5vw + 2.5vh);
    border-bottom: 2px solid grey;
    background-color: rgb(26, 9, 43);
}
.linkers {
    border-top: 2px solid white;
    font-family: helvetica;
    font-size: calc(1.5vw + 1.5vh);
    padding: 0px;
    margin: 0px;
    place-self: center flex-end;
    text-align: right;
    display: inline;
    width: max-content;
    margin-right: 2vw;
    margin-top: 2vh;
    cursor: pointer;
}
.linkers:after {
    display:block;
    content: '';
    border-bottom: solid 3px black;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  a:hover:after { transform: scaleX(1); }

ul {
    list-style-type: none;
    margin: 0px;
}

#coding {
    background-color: rgb(1, 1, 78);
    margin: 10vh 15vw 0px 15vw;
    text-align: center;
    height: 60vh;
    width: 70vw;
    border-radius: 25px;
    display: flex;
}
img {
    height: 12vh;
    width: 12vh;
    padding: 5px;
    border: 2px solid transparent;
}
#images {
    padding: 10px;
    background-color: rgb(6, 6, 37);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid white;
    border-radius: 20px;
}
.selected {
    border: 2px solid white;
    background-color: rgb(12, 12, 70);;
    border-radius: 20px;
}
#desc {
    width:70vw;
    overflow: auto;
    color: whitesmoke;
    margin: 5vw;
    font-size: calc(1vw + 1vh);
    padding: calc(1vw + 1vh)
}
::-webkit-scrollbar {
    background-color: rgb(2, 2, 34);
    border-radius: 20px;
    margin-left: 10vw;
    width: 1.5vw;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(12, 12, 44);
    border-radius: 20px;
}