#main {
    background-color: rgb(1, 1, 78);
    color: white;
    border-radius: 20px;
    height: 50vh;
    width: 70vw;
    margin: 20px 5px 10px 5px;
    padding: 20px;
}
.projects {
    background-color: transparent;
    border: rgb(6, 10, 48) solid 2px;
    width: 20vw;
    height: 20vw;
    /* box-shadow: black 10px 5px 5px; */
    border-radius: 20px;
    animation: shake 1s;
    animation-direction: reverse;
    animation: shake 1s reverse;
}
.projects:hover {
    animation: shake 1s;
    animation-direction: forwards;
}
@keyframes shake {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: translateZ(10px);
    }
}
.projects img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
